.tocnav {
  @apply flex-none p-20 overflow-y-auto;
  position: sticky;
  top: var(--top-nav-height);
  height: calc(100vh - var(--top-nav-height));
  .tocnav-title {
    @apply font-semibold uppercase;
  }
}