@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --top-nav-height: 51px;
  --border-color: #27284e;
  /* background-color: #000033 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #57575a;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-track:vertical {
  background: #dfdfdf;
  border-left: 2px solid #fbfcfd;
  border-right: 2px solid #fbfcfd;
}

::-webkit-scrollbar-track:horizontal {
  background: #dfdfdf;
  border-top: 2px solid #fbfcfd;
  border-bottom: 2px solid #fbfcfd;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #fbfcfd;
}

p {
  font-size: 14px;
  margin: 0.5rem 0;
  line-height: 1.5em;
}


h1 {
  font-size: 40px;
  margin: 1rem 0;
  line-height: 2rem;
}

h2 {
  margin: 1rem 0;
}

h3 {
  margin: 1rem 0;
}

h4 {
  margin: 1rem 0;
}

a {
  font-size: 16px;
  color: rgba(75, 85, 99, 1);
}

table {
  table-layout: fixed;
  width: 100%;
}

thead tr th {
  vertical-align: top;
}

tbody tr td {
  font-weight: 600;
  vertical-align: top;
}

tbody tr td:first-child {
  width: 40%;
  padding-right: 15px;
}

tbody tr td:last-child {
  width: 60%;
}