.logo {
  @apply mr-40;
  .logo-link {
    @apply flex flex-row align-middle text-lg font-semibold text-primary;
    .logo-image {
      @apply mr-4 text-4xl;
      .svg-fork-cls-1,
      .svg-fork-cls-2,
      .svg-fork-cls-3 {
        @apply fill-none stroke-currentColor stroke-[3px];
      }
      .svg-fork-cls-1 {
        @apply stroke-linejoin-round;
      }
      .svg-fork-cls-1,
      .svg-fork-cls-3 {
        @apply stroke-linecap-round;
      }
      .svg-fork-cls-2,
      .svg-fork-cls-3 {
        @apply stroke-miterlimit-10;
      }
    }
  }
}

.navbar {
  @apply fixed top-0 z-[100] flex w-full items-center border-b border-slate-300 py-16 px-25;
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  flex-direction: row;
  width: 100%;
}
.navbar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav:global(a) {
  text-decoration: none;
  color: #57575a;
  font-size: 16px;
  font-weight: 600;
}
