.logo {
  @apply mr-40;
  .logo-link {
    @apply flex flex-row align-middle text-primary text-lg font-semibold;
    .logo-image {
      @apply mr-4 text-4xl;
      .svg-fork-cls-1, .svg-fork-cls-2, .svg-fork-cls-3 {
        @apply fill-none stroke-currentColor stroke-[3px];
      }
      .svg-fork-cls-1 {
        @apply stroke-linejoin-round;
      }
      .svg-fork-cls-1, .svg-fork-cls-3 {
        @apply stroke-linecap-round;
      }
      .svg-fork-cls-2, .svg-fork-cls-3 {
        @apply stroke-miterlimit-10;
      }
    }
    .logo-title {
      @apply text-lg text-primary font-bold leading-[18px] w-[125px] m-0 ;
    }
  }
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #fbfcfd;
  border-bottom: 1px solid #dfdfdf;
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  flex-direction: row;
  width: 100%;
}
.navbar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav:global(a) {
  text-decoration: none;
  color: #57575a;
  font-size: 16px;
  font-weight: 600;
}