@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --top-nav-height: 69px;
    --border-color: #27284e;
  }

  body {
    @apply font-sans;
  }

  h1 {
    @apply text-4xl;
  }
  
  h2 {
    @apply text-3xl;
  }
  
  h3 {
    @apply text-2xl
  }
  
  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }

  table {
    @apply table-fixed w-full;
  }

  .logo {
    margin-right: 2.5rem;
  }
  .logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #14163b;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .logo-image {
    display: flex;
    margin-right: 4px;
    font-size: 36px;
  }
  .logo-title {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
    width: 125px;
    margin: 0;
  }
  .svg-fork-cls-1, .svg-fork-cls-2, .svg-fork-cls-3 {
    fill: none;
    stroke: currentColor;
    stroke-width: 3px;
  }
  .svg-fork-cls-1 {
    stroke-linejoin: round;
  }
  .svg-fork-cls-1, .svg-fork-cls-3 {
    stroke-linecap: round;
  }
  .svg-fork-cls-2, .svg-fork-cls-3 {
    stroke-miterlimit: 10;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  font-family: 'Poppins', sans-serif;
  color: #57575a;
  margin: 0;
} */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-track:vertical {
  /* background: #dfdfdf; */
  border-left: 2px solid #fbfcfd;
  border-right: 2px solid #fbfcfd;
}

::-webkit-scrollbar-track:horizontal {
  /* background: #dfdfdf; */
  border-top: 2px solid #fbfcfd;
  border-bottom: 2px solid #fbfcfd;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #fbfcfd;
}

/* p {
  font-size: 14px;
  margin: 0.5rem 0;
  line-height: 1.5em;
} */


/* h1 {
  font-size: 40px;
  margin: 1rem 0;
  line-height: 2rem;
}

h2 {
  margin: 1rem 0;
}

h3 {
  margin: 1rem 0;
}

h4 {
  margin: 1rem 0;
} */

/* a {
  font-size: 16px;
  color: rgba(75, 85, 99, 1);
} */

table {
  table-layout: fixed;
  width: 100%;
}

thead tr th {
  vertical-align: top;
}

tbody tr td {
  font-weight: 600;
  vertical-align: top;
}

tbody tr td:first-child {
  width: 40%;
  padding-right: 15px;
}

tbody tr td:last-child {
  width: 60%;
}